items to complete.txt
dataEditR Example.txt
/tutorial\ videos/
/VideoDecodeStats/
/rsconnect/
/documentation/
schools_pts.R
districts\ simple\ feature.R
school\ points\ data.xlsx
ELSI_excel_export_6376842983820028019235.xls
/data/shapes/EDGE_SCHOOLDISTRICT_TL20_SY1920/